﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cssIndex")
    @Scripts.Render("~/bundles/modernizr")

</head>

    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
        -->
<body>
    <div class="container">
        
             @RenderBody()
   
        <nav id="bt-menu" class="bt-menu">
            <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
            <ul>
                <li><a href="#" class="bt-icon icon-home">Zoom</a></li>
                <li><a href="#" class="bt-icon icon-refresh">Refresh</a></li>
                <li><a href="#" class="bt-icon icon-lock">Lock</a></li>
                <li><a href="#" class="bt-icon icon-speaker">Sound</a></li>
                <li><a href="#" class="bt-icon icon-star">Favorite</a></li>
            </ul>
        </nav>
    </div><!-- /container -->
</body>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Menu")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</html>
